
// colors
$accentColor = #4B8BBE
$textColor = #2c3e50  // default
$borderColor = #eaecef  // default
$codeBgColor = #282c34  // default
$arrowBgColor = #ccc  // default
$badgeTipColor = #42b983  // default
$badgeWarningColor = darken(#ffe564, 35%)  // default
$badgeErrorColor = #DA5961  // default

// #306998  // Lapis Lazuli (Python logo - blue)
// #4B8BBE // Cyan-Blue Azure (Python logo - light blue)
// #FFE873 // Shandy (Python logo - light yellow)
// #FFD43B // Sunglow (Python logo - yellow)
// #646464 // Granite Gray (Python logo - dark gray)